---
import Layout from "../layouts/Layout.astro";


---
<Layout>
    
    <section data-id="about-me" class="animated-section">
        <div class="section-content">
            <div class="page-title">
                <h2>About <span>Me</span></h2>
            </div>
    
            <!-- Personal Information -->
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <p>I am a driven individual with the ability to adapt to any situation and proven potential to grow self and others.
                        I have been developing professionally for 5 years but tinkering since a kid. I started in tech with internships, freelance services and part time positions during college.
                        I have a bit off a diverse job history. I have had positions in help desk, graphic/web design, wordpress development and network engineer. I can help everywhere in the stack and I love wearing multiple hats to an extent. Although, I do think my most strongest skills are in software engineering.</p>
                </div>
    
                <div class="col-xs-12 col-sm-5">
                    <div class="info-list">
                        <ul>
                            <li>
                                <span class="title">Age</span>
                                <span class="value">23</span>
                            </li>
    
                            <li>
                                <span class="title">Residence</span>
                                <span class="value">Indonesia</span>
                            </li>
    
                            <li>
                                <span class="title">Address</span>
                                <span class="value">Alamanda Regency No.44, Kab. Bekasi</span>
                            </li>
    
                            <li>
                                <span class="title">Email</span>
                                <span class="value">wahyuditaruna97@gmail.com</span>
                            </li>
    
                            <li>
                                <span class="title">Phone</span>
                                <span class="value">+62 8787 6220 034</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End of Personal Information -->
    
            <div class="white-space-50"></div>
    
            <!-- Services -->
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                        <h3>What <span>I Do</span></h3>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="col-inner">
                        <div class="info-list-w-icon">
                            <div class="info-block-w-icon">
                                <div class="ci-icon">
                                    <i class="lnr lnr-laptop-phone"></i>
                                </div>
                                <div class="ci-text">
                                    <h4>Frontend Development Expert</h4>
                                    <p>Passion for responsive website and a film believer in the mobile-first approach. Dicoding certified <a style="color: #00BCD4" href="https://www.dicoding.com/certificates/EYX4R5J76XDL" target="_blank">become a front end developer expert</a>. Implemented new responsive website approach which increased mobile traffic by 20%</p>
                                </div>
                            </div>
                            <div class="info-block-w-icon">
                                <div class="ci-icon">
                                    <i class="lnr lnr-smartphone"></i>
                                </div><div class="ci-text">
                                <h4>Multi-Platform App Development</h4>
                                <p>Created application for IOS and Android. Developed mobile application in Flutter. Analyzed user requirements, and translated client needs into application design. Providing continued maintenance and development of bug fixes for existing mobile applications.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6">
                    <div class="col-inner">
                        <div class="info-list-w-icon">
                            <div class="info-block-w-icon">
                                <div class="ci-icon">
                                    <i class="lnr lnr-cloud"></i>
                                </div>
                                <div class="ci-text">
                                    <h4>Backend & Cloud Architect</h4>
                                    <p>Develop automated software which manages infrastructure without human intervention on top of Kubernetes. Responsible for defining, developing, and evolving software in a fast paced and agile development environment. <a style="color: #00BCD4" href="https://www.dicoding.com/certificates/53XEE54K9XRN" target="_blank">Architecting on AWS certified</a></p>
                                </div>
                            </div>
                            <div class="info-block-w-icon">
                                <div class="ci-icon">
                                    <i class="lnr lnr-magic-wand"></i>
                                </div><div class="ci-text">
                                <h4>Wordpress Development</h4>
                                <p>I am a proficient and creative WordPress developer with a strong history in website management and development. Experienced in SEO and PPC campaign creation. Expert in all aspects of WordPress website creation, including design, plug-ins, and implementation. Skilled in creating engaging and interactive websites</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </section>

</Layout>    
