---
import Layout from "../layouts/Layout.astro";


---
<Layout>
    <section data-id="blog" class="animated-section">
        <div class="section-content">
            <div class="page-title">
                <h2>Blog</h2>
            </div>
    
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1>Coming Soon</h1>
                </div>
            </div>
    
        </div>
    
    </section>
</Layout>
