---
import Layout from "../layouts/Layout.astro";


---
<Layout>

    <section data-id="certificates" class="animated-section">
        <div class="section-content">
            <div class="page-title">
                <h2>Certificates</h2>
            </div>
    
            <!-- Certificates -->
    
            <div class="row">
                <!-- Certificate 1 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/sap.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>SAP Overview</h4>
                            </div>
                            <div class="certi-id">
                                <span>SAP University Partnership Program</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="img/certificates/sap-cert.jpg" data-lightbox="image-1" data-title="SAP">See Certificate</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 1 -->
    
                <!-- Certificate 1 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/oracle.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Java Fundamentals</h4>
                            </div>
                            <div class="certi-id">
                                <span>Oracle Academy</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Aug 2021</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="img/certificates/java-fundamentals.jpg" data-lightbox="image-1" data-title="Oracle Academy">See Certificate</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 1 -->
    
                <!-- Certificate 1 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/oracle.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Java Programming</h4>
                            </div>
                            <div class="certi-id">
                                <span>Oracle Academy</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Sep 2021</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="img/certificates/java-programming.jpg" data-lightbox="image-1" data-title="Oracle Academy">See Certificate</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 1 -->
    
                <!-- Certificate 1 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/oracle.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Database Programming with SQL</h4>
                            </div>
                            <div class="certi-id">
                                <span>Oracle Academy</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Aug 2021</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="img/certificates/database-with-sql.jpg" data-lightbox="image-1" data-title="Oracle Academy">See Certificate</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 1 -->
    
                <!-- Certificate 1 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/oracle.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Database Design</h4>
                            </div>
                            <div class="certi-id">
                                <span>Oracle Academy</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Aug 2021</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="img/certificates/database-design.jpg" data-lightbox="image-1" data-title="Oracle Academy">See Certificate</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 1 -->
    
                <!-- Certificate 1 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Data Visualization</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID VJLX1NL8GP72</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Sep 2020 - Expires Sep 2023</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/VJLX1NL8GP72" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 1 -->
    
                <!-- Certificate 2 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Cognitive Application</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID L4PQMMN3QZO1</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Oct 2020 - Expires Oct 2023</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/L4PQMMN3QZO1" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 2 -->
    
                <!-- Certificate 3 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Software Design Principle</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID MEPJ5YOL6P3V</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Jan 2021 - Expires Jan 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/MEPJ5YOL6P3V" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 3 -->
    
                <!-- Certificate 4 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Swift Programming</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID GRX5GQ7GVX0M</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Jan 2021 - Expires Jan 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/GRX5GQ7GVX0M" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 4 -->
    
                <!-- Certificate 5 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Fundamental Front-End Web Development</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID EYX4R0EL6XDL</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Jan 2021 - Expires Jan 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/EYX4R0EL6XDL" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 5 -->
    
                <!-- Certificate 6 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Front-End Web Developer Expert</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID EYX4R5J76XDL</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued May 2021 - Expires May 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/EYX4R5J76XDL" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 6 -->
    
                <!-- Certificate 7 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Cloud Practitioner Essentials AWS</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID RVZK40OMEPD5</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Mar 2021 - Expires Mar 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/RVZK40OMEPD5" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 7 -->
    
                <!-- Certificate 8 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Practical DevOps with IBM Cloud</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID 2VX3NM0NVXYQ</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Apr 2021 - Expires Apr 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/2VX3NM0NVXYQ" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 8 -->
    
                <!-- Certificate 9 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Back-End Application</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID JMZVM8MR3ZN9</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Apr 2021 - Expires Apr 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/JMZVM8MR3ZN9" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 9 -->
    
                <!-- Certificate 10 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Javascript Programming</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID QLZ98NV7EX5D</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Apr 2021 - Expires Apr 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/QLZ98NV7EX5D" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 10 -->
    
                <!-- Certificate 11 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Dart Programming</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID L4PQMLEG2ZO1</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued May 2021 - Expires May 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/L4PQMLEG2ZO1" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 11 -->
    
                <!-- Certificate 12 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Architecting on AWS</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID 53XEE54K9XRN</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued May 2021 - Expires May 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/53XEE54K9XRN" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 12 -->
    
                <!-- Certificate 19 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Flutter Application</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID MRZMG3L5KZYQ</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued May 2021 - Expires May 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/MRZMG3L5KZYQ" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 19 -->
    
                <!-- Certificate 13 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/dicoding.png" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Augmented Reality With Lens Studio</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID NVP7GVMW4XR0</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued May 2021 - Expires May 2024</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.dicoding.com/certificates/NVP7GVMW4XR0" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 13 -->
    
                <!-- Certificate 14 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/phub.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Python Programming</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID 1598559442599</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Aug 2020 - No Expiration Date</span>
                            </div>
                            <div class="certi-company">
                                <span>Programming Hub</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 14 -->
    
                <!-- Certificate 15 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/udemy.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>MERN Stack Master</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID UC-dafca560-5ef0-4909-a12b-225a5ed8f26</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Apr 2021 - No Expiration Date</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.udemy.com/certificate/UC-dafca560-5ef0-4909-a12b-225a5ed8f26f/" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 15 -->
    
                <!-- Certificate 16 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/udemy.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Java Web Services</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID UC-abb0ac5d-b56e-4ade-9d6e-342ce396e97f</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Apr 2021 - No Expiration Date</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.udemy.com/certificate/UC-abb0ac5d-b56e-4ade-9d6e-342ce396e97f/" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 16 -->
    
                <!-- Certificate 17 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/cisco.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>Introduction to IoT</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID 9493f0bb-e56d-4f80-b57b-a279207dd8a4</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Oct 2020 - No Expiration Date</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://www.credly.com/badges/9493f0bb-e56d-4f80-b57b-a279207dd8a4" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 17 -->
    
                <!-- Certificate 18 -->
                <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="img/certificates/google.jpg" alt="logo">
                        </div>
    
                        <div class="certi-content">
                            <div class="certi-title">
                                <h4>The Fundamentals of Digital Marketing</h4>
                            </div>
                            <div class="certi-id">
                                <span>Credential ID 3JLXX4B6Q</span>
                            </div>
                            <div class="certi-date">
                                <span>Issued Apr 2021 - No Expiration Date</span>
                            </div>
                            <div class="certi-link">
                                <span><a href="https://learndigital.withgoogle.com/digitalgarage/validate-certificate-code" target="_blank">See Credentials</a></span>
                            </div>
                            <div class="certi-company">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Certificate 18 -->
    
            </div>
            <!-- End of Certificates -->
        </div>
    </section>

</Layout>    
