---
const { dataId = 'home' } = Astro.props;
---

<section data-id={dataId} class="animated-section start-page">
    <div class="section-content vcentered">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title-block">
                    <h3 class="greeting">Hi there, <span>my name is</span></h3>
                    <h2>Taruna Wahyudi</h2>
                    <div class="owl-carousel text-rotation">
                        <div class="item">
                            <div class="sp-subtitle">Software Engineer</div>
                        </div>
                        <div class="item">
                            <div class="sp-subtitle">Frontend-developer</div>
                        </div>
                        <div class="item">
                            <div class="sp-subtitle">Backend-developer</div>
                        </div>
                        <div class="item">
                            <div class="sp-subtitle">Cloud Architect</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
