---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section data-id="home" class="animated-section start-page">
		<div class="section-content vcentered">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="title-block">
						<h3 class="greeting">Hi there, <span>my name is</span></h3>
						<h2>Taruna Wahyudi</h2>
						<div class="owl-carousel text-rotation">
							<div class="item">
								<div class="sp-subtitle">Software Engineer</div>
							</div>
							<div class="item">
								<div class="sp-subtitle">Frontend-developer</div>
							</div>
							<div class="item">
								<div class="sp-subtitle">Backend-developer</div>
							</div>
							<div class="item">
								<div class="sp-subtitle">Cloud Architect</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
