---
import Layout from "../layouts/Layout.astro";


---
<Layout>

    <section data-id="resume" class="animated-section">
        <div class="section-content">
            <div class="page-title">
                <h2>Resume</h2>
            </div>
    
            <div class="row">
                <div class="col-xs-12 col-sm-7">
    
                    <div class="block-title">
                        <h3>Formal Education</h3>
                    </div>
    
                    <div class="timeline timeline-second-style clearfix">
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2016</h5>
                                <span class="item-company">SMK Karya Guna 2 Bekasi</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Network Engineer</h4>
                                <p>I graduated from a vocational school in computer and network engineering and has a Cisco Certified Network Associate</p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2021</h5>
                                <span class="item-company">STMIK Banisaleh</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Informatics Engineer</h4>
                                <p>Bachelor degree program informatics engineering.<br>
                                    GPA 3.65 (Cumlaude Predicate)</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="white-space-50"></div>
    
                    <div class="block-title">
                        <h3>Non Formal Education</h3>
                    </div>
    
                    <div class="timeline timeline-second-style clearfix">
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2015</h5>
                                <span class="item-company">Bekasi City Education Office</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title"> Network Troubleshooting</h4>
                                <p>organized by SMK Karya Guna 2 Bekasi</p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2016</h5>
                                <span class="item-company">Cisco Academy</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Cisco Certifed Network Associate</h4>
                                <p>organized by STMIK banisaleh</p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2021</h5>
                                <span class="item-company">Dicoding Academy</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Fundamental Frontend Development</h4>
                                <p><a style="color: #00BCD4" href="https://www.dicoding.com/certificates/EYX4R0EL6XDL" target="_blank">See the Certificate</a></p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2021</h5>
                                <span class="item-company">Dicoding Academy</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title"> Frontend Developer Expert</h4>
                                <p><a style="color: #00BCD4" href="https://www.dicoding.com/certificates/EYX4R5J76XDL" target="_blank">See the Certificate</a></p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2021</h5>
                                <span class="item-company">Dicoding Academy</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Practical DevOps with IBM Cloud</h4>
                                <p><a style="color: #00BCD4" href="https://www.dicoding.com/certificates/2VX3NM0NVXYQ" target="_blank">See the Certificate</a></p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2021</h5>
                                <span class="item-company">Dicoding Academy</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Architecting on AWS</h4>
                                <p><a style="color: #00BCD4" href="https://www.dicoding.com/certificates/53XEE54K9XRN" target="_blank">See the Certificate</a></p>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="white-space-50"></div>
    
                    <div class="block-title">
                        <h3>Awards</h3>
                    </div>
    
                    <div class="timeline timeline-second-style clearfix">
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2015</h5>
                                <span class="item-company">SMKN 1 Kota Bekasi</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Bekasi City Network Engineering Competition</h4>
                                <p>6th great champion</p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2020</h5>
                                <span class="item-company">Sultan Agung Islamic University</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">National Business Plan Competition</h4>
                            </div>
                        </div>
    
                    </div>
    
                    <div class="white-space-50"></div>
    
                    <div class="block-title">
                        <h3>Experience</h3>
                    </div>
    
                    <div class="timeline timeline-second-style clearfix">
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2016</h5>
                                <span class="item-company">Aino Indonesia</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Project Implementation Service</h4>
                                <p>Installation, repair, maintenance payment device in Soekarno-Hatta Airport</p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2017</h5>
                                <span class="item-company">Cyberlink Network</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Wordpress Developer</h4>
                                <p>Develop, maintain and improve websites for internal company</p>
                            </div>
                        </div>
    
                        <div class="timeline-item clearfix">
                            <div class="left-part">
                                <h5 class="item-period">2019</h5>
                                <span class="item-company">Dedicated IT</span>
                            </div>
                            <div class="divider"></div>
                            <div class="right-part">
                                <h4 class="item-title">Web Developer</h4>
                                <p>Develop, maintain and improve websites for our clients</p>
                            </div>
                        </div>
    
                    </div>
    
                </div>
    
                <!-- Skills & Certificates -->
                <div class="col-xs-12 col-sm-5">
                    <!-- Design Skills -->
                    <div class="block-title">
                        <h3>Programming <span>Skills</span></h3>
                    </div>
    
                    <div class="skills-info skills-second-style">
                        <!-- Skill 1 -->
                        <div class="skill clearfix">
                            <h4>JavaScript</h4>
                            <div class="skill-value">95%</div>
                        </div>
                        <div class="skill-container skill-1">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 1 -->
    
                        <!-- Skill 2 -->
                        <div class="skill clearfix">
                            <h4>Kotlin</h4>
                            <div class="skill-value">65%</div>
                        </div>
                        <div class="skill-container skill-2">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 2 -->
    
                        <!-- Skill 3 -->
                        <div class="skill clearfix">
                            <h4>PHP</h4>
                            <div class="skill-value">80%</div>
                        </div>
                        <div class="skill-container skill-3">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 3 -->
    
                        <!-- Skill 4 -->
                        <div class="skill clearfix">
                            <h4>Python</h4>
                            <div class="skill-value">80%</div>
                        </div>
                        <div class="skill-container skill-4">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 4 -->
    
                        <!-- Skill 5 -->
                        <div class="skill clearfix">
                            <h4>Java</h4>
                            <div class="skill-value">85%</div>
                        </div>
                        <div class="skill-container skill-5">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 5 -->
    
                        <!-- Skill 6 -->
                        <div class="skill clearfix">
                            <h4>Dart</h4>
                            <div class="skill-value">70%</div>
                        </div>
                        <div class="skill-container skill-6">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 6 -->
    
                        <!-- Skill 7 -->
                        <div class="skill clearfix">
                            <h4>Golang</h4>
                            <div class="skill-value">70%</div>
                        </div>
                        <div class="skill-container skill-6">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 7 -->
    
                        <!-- Skill 7 -->
                        <div class="skill clearfix">
                            <h4>Swift</h4>
                            <div class="skill-value">70%</div>
                        </div>
                        <div class="skill-container skill-6">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 7 -->
    
                    </div>
                    <!-- End of Design Skills -->
    
                    <div class="white-space-10"></div>
    
                    <!-- Fundamental Skills -->
                    <div class="block-title">
                        <h3>Fundamental <span>Skills</span></h3>
                    </div>
    
                    <div class="skills-info skills-second-style">
                        <!-- Skill 7 -->
                        <div class="skill clearfix">
                            <h4>Algorithm and Data Structure</h4>
                            <div class="skill-value">95%</div>
                        </div>
                        <div class="skill-container skill-7">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 7 -->
    
                        <!-- Skill 8 -->
                        <div class="skill clearfix">
                            <h4>Numerical Computation</h4>
                            <div class="skill-value">85%</div>
                        </div>
                        <div class="skill-container skill-8">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 8 -->
    
                        <!-- Skill 9 -->
                        <div class="skill clearfix">
                            <h4>Analysis and Design of Information Systems</h4>
                            <div class="skill-value">90%</div>
                        </div>
                        <div class="skill-container skill-9">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 9 -->
    
                    </div>
                    <!-- End of Fundamental Skills -->
    
                    <div class="white-space-10"></div>
    
                    <!-- Technical Skills -->
                    <div class="block-title">
                        <h3>Technical <span>Skills</span></h3>
                    </div>
    
                    <div class="skills-info skills-second-style">
                        <!-- Skill 10 -->
                        <div class="skill clearfix">
                            <h4>Git</h4>
                            <div class="skill-value">95%</div>
                        </div>
                        <div class="skill-container skill-9">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 10 -->
    
                        <!-- Skill 11 -->
                        <div class="skill clearfix">
                            <h4>Flutter</h4>
                            <div class="skill-value">85%</div>
                        </div>
                        <div class="skill-container skill-8">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 11 -->
    
                        <!-- Skill 12 -->
                        <div class="skill clearfix">
                            <h4>Hapi JS Framework</h4>
                            <div class="skill-value">80%</div>
                        </div>
                        <div class="skill-container skill-8">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 12 -->
    
                        <!-- Skill 13 -->
                        <div class="skill clearfix">
                            <h4>Codeigniter</h4>
                            <div class="skill-value">90%</div>
                        </div>
                        <div class="skill-container skill-9">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 13 -->
    
                        <!-- Skill 14 -->
                        <div class="skill clearfix">
                            <h4>React JS</h4>
                            <div class="skill-value">75%</div>
                        </div>
                        <div class="skill-container skill-7">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 14 -->
    
                        <!-- Skill 15 -->
                        <div class="skill clearfix">
                            <h4>Express JS</h4>
                            <div class="skill-value">70%</div>
                        </div>
                        <div class="skill-container skill-7">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 15 -->
    
                        <!-- Skill 15 -->
                        <div class="skill clearfix">
                            <h4>MySQL</h4>
                            <div class="skill-value">90%</div>
                        </div>
                        <div class="skill-container skill-9">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 15 -->
    
                        <!-- Skill 16 -->
                        <div class="skill clearfix">
                            <h4>PostgreeSQL</h4>
                            <div class="skill-value">90%</div>
                        </div>
                        <div class="skill-container skill-9">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 16 -->
    
                        <!-- Skill 17 -->
                        <div class="skill clearfix">
                            <h4>MongoDB</h4>
                            <div class="skill-value">80%</div>
                        </div>
                        <div class="skill-container skill-8">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 17 -->
    
                        <!-- Skill 18 -->
                        <div class="skill clearfix">
                            <h4>Laravel</h4>
                            <div class="skill-value">85%</div>
                        </div>
                        <div class="skill-container skill-8">
                            <div class="skill-percentage"></div>
                        </div>
                        <!-- End of Skill 18 -->
    
                    </div>
                    <!-- End of Coding Skills -->
    
                    <div class="white-space-10"></div>
    
                    <!-- Knowledges -->
                    <div class="block-title">
                        <h3>Knowledges</h3>
                    </div>
    
                    <ul class="knowledges">
                        <li>Adobe XD</li>
                        <li>Figma UI</li>
                        <li>Problem-Solving</li>
                        <li>Business Plan</li>
                        <li>Automata Theory</li>
                        <li>Data Mining</li>
                        <li>Artificial Intelligence</li>
                        <li>E-Commerce</li>
                        <li>Internet Of Things</li>
                        <li>Hospital System</li>
                        <li>Communication</li>
                    </ul>
                    <!-- End of Knowledges -->
                </div>
                <!-- End of Skills & Certificates -->
            </div>
        </div>
    </section>

</Layout>    
