---
import Menu from './Menu.astro';
import profilePicture from '../assets/img/profile.png';
---
<header id="site_header" class="header mobile-menu-hide">
    <div class="header-content">
        <div class="header-photo">
            <img src={profilePicture.src} alt="Taruna Wahyudi">
        </div>
        <div class="header-titles">
            <h3>Taruna Wahyudi</h3>
            <h4>Software Engineer</h4>
        </div>
    </div>

    <Menu />

    <div class="social-links">
        <ul>
            <li><a href="https://www.linkedin.com/in/taruna-wahyudi-228382175/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/tarunawahyudi" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.dicoding.com/users/taruna_wahyudi" target="_blank"><i class="fas fa-laptop-code"></i></a></li>
        </ul>
    </div>

    <div class="header-buttons">
        <a href="/resources/document/cv.pdf" class="btn btn-primary">Download CV</a>
    </div>

    <div class="copyrights">© 2021 All rights reserved.</div>
</header>
