<div class="lm-animated-bg" style="background-image: url(img/main_bg.png);"></div>
<div class="preloader">
    <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
    </div>
</div>
