---
import bg from '../assets/img/main_bg.png';

---

<div class="lm-animated-bg" style={`background-image: url(${bg.src});`}></div>
<div class="preloader">
    <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
    </div>
</div>
