---
import 'modern-css-reset';
import 'bootstrap/dist/css/bootstrap-grid.min.css';
import 'animate.css';
import 'perfect-scrollbar/css/perfect-scrollbar.css';
import 'owl.carousel/dist/assets/owl.carousel.css';
import 'lightbox2/dist/css/lightbox.css';

import '../assets/css/main.css';
import '../assets/css/style.css';
import '../assets/fonts/linear-icons-font/style.css';
import '../assets/fonts/fontawesome-free-5.12.1-web/css/all.min.css';

import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import MetaData from "../components/MetaData.astro";
import Footer from "../components/Footer.astro";
import Preloader from "../components/Preloader.astro";
---

<html lang="en" class="no-js">
<MetaData />
<body>
	<Preloader />
	<div class="page">
		<div class="page-content">
			<Header />
			<Navigation />
			<div class="content-area">
				<div class="animated-sections">
					<slot />
				</div>
			</div>
		</div>
	</div>

<Footer />
</body>
</html>
<style is:global>
</style>
