---
import 'modern-css-reset';
import 'bootstrap/dist/css/bootstrap-grid.min.css';
import 'animate.css';
import 'perfect-scrollbar/css/perfect-scrollbar.css';
import 'owl.carousel/dist/assets/owl.carousel.css';
import 'magnific-popup/dist/magnific-popup.css';
import 'lightbox2/dist/css/lightbox.css';

import '../assets/css/main.css';
import '../assets/css/style.css';
import '../assets/fonts/linear-icons-font/style.css';
import '../assets/fonts/fontawesome-free-5.12.1-web/css/all.min.css';


import Header from "../components/Preloader.astro";
import Navigation from "../components/Navigation.astro";
import MetaData from "../components/MetaData.astro";
import NavArrow from "../components/NavArrow.astro";
interface Props {
	title: string;
	name: string;
}

const { title, name} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="no-js">
<MetaData />
<body>
	<Header />
	<div class="page">
		<div class="page-content">
			<Header />
			<Navigation />
			<NavArrow />
			<div class="content-area">
				<div class="animated-sections">
					<slot />
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<style is:global>
</style>
